* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.container {
	max-width: 2500px;
	margin: 0 auto;
	padding: 0 3rem;
	margin top: 4rem;
	text-align: center;
	display: fext;

}

h1 {
	color: #26bdc4;
	font-size: 47px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 2rem;
	text-align: center;
	margin-top: 100px;
}

h2 {
	color: #777;
	font-size: 17px;
	font-weight: 400;
}


.lifelog {
	font-size: 20px;
	font-weight: bold;
	color: #f7931e;
	margin-top: 100px;
	margin-bottom: 0;

}

.info p {
	font-size: 15px;
	color: #777;
	line-height: 5rem;
	margin-top: 40px ;
	text-align: center;
}

.info p b {
	color:#f7931e;
}

.pl {
	font-size: 20px;
	font-weight: bold;
	color: #26bdc4;
	margin-top: 60px;
	margin-bottom: 0;

}

.plan p {
	font-size: 15px;
	color: #777;
	line-height: 4rem;
	margin-top: 30px ;
	text-align: center;
}

.plan p b {
	color: #f7931e;
}



.b {
	margin-top: 100px;
}

.btn {
	display: inline-block;
	padding: 1.7rem 3.5rem;
	background: #26bdc4;
	font-size: 10px;
	text-decoration: none;
	color: white;
	border-radius: 15px;
	margin-bottom: 30px;
}

.question {
	margin-top: 70px;
	font-size: 15px;
	margin-bottom: 100px;
	color: #777;
	padding: 2.7rem 7.5rem;
}

hr.one {
	height: 4px;
	margin-top: 50px;
	border: none;
	border-radius: 10px;
	background : #bcbec0 ;
	text-align: center;
}

hr.two {
	height: 4.5px;
	margin-top: 50px;
	border: none;
	border-radius: 10px;
	background : #bcbec0 ;
	text-align: center;
	margin-top: 50px;
}