* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.container {
	max-width: 2500px;
	margin: 0 auto;
	padding: 0 3rem;
	margin top: 4rem;
	text-align: center;

}

h1 {
	color: #26bdc4;
	font-size: 100px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 2rem;
	text-align: center;
	margin-top: 200px;
}

h2 {
	color: #777;
	font-size: 30px;
	font-weight: 400;
}


.lifelog {
	font-size: 45px;
	font-weight: bold;
	color: #f7931e;
	margin-top: 150px;
	margin-bottom: 0;

}

.info p {
	font-size: 25px;
	color: #777;
	line-height: 5rem;
	margin-top: 80px ;
	text-align: center;
}

.info p b {
	color:#f7931e;
}

.b {
	margin-top: 150px;
}

.btn {
	display: inline-block;
	padding: 2.7rem 7.5rem;
	background: #26bdc4;
	font-size: 2rem;
	text-decoration: none;
	color: white;
	border-radius: 15px;
	margin-bottom: 30px;
}

.question {
	margin-top: 100px;
	font-size: 25px;
	margin-bottom: 100px;
	color: #777;
	padding: 2.7rem 7.5rem;
}